# Virtual environments
venv/

# Airflow
logs/
config/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Terraform
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
